body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
  margin: 8px;
}

a {
  color: rgb(0, 96, 96);
}
* {
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  
}

.column{
  border: 2px solid grey;
  border-radius: 0.25rem;
  float: left;
  width: 25%;
  margin: 5px;
  padding: 15px;
  display: flex;
}
 @media (max-width: 550px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}