* {
  font-family: sans-serif;
  font-size: 1.1em;
  color: #333;
}

/* The accent color used is #008080 */
ul {
  list-style-type: none;
  margin: 100;
  padding: 20px;
}

/* Change the link color on hover */
li a:hover {
  color: #008080;
  text-decoration: underline;
}

li{
  display: inline;
  padding: 20px;
}

li a{
  text-decoration: none;
}

@media (min-width: 1024px) {
  .ul {
    width: 30%;
  }
  
}

@media (min-width: 768px) {
  .ul {
    width: 30%;
  }
  
}

@media (min-width: 414px) {
  .ul {
    width: 30%;
  }
  
}