body {
  background-color: rgb(0, 78, 78);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ccc;
  content: ;
  padding: 10px 10px 10px 10px;
}

/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/


h2{
  color: #006060;
  margin-top: 1px ;
}
.span{
  color: #006060;
}
label{
 color: black; 
}

input[type=text]{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0px;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  
}

input:invalid:focus{
  outline: 1.5px auto red;
}


input[type=email]{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
}
.textarea{
  border-radius: 4px;
  width:100%;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #006060;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #58cbd3;
  color: black;
}


.container {
  background-color:white;
  width: 300px;
  height: 500px;
  border: 20px;
  border-radius: 4px;
  padding: 30px;
  margin: 5px auto 5px auto;
 
}

@media (max-width: 360px) {
  .container {
    background-color:white;
    width: 250px;
    height: 500px;
    border: 20px;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto 5px auto;
   
  }
}
@media (min-width: 361px) and (max-width: 600px) {
  .container {
    background-color:white;
    width: 280px;
    height: 500px;
    border: 20px;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto 5px auto;
   
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    background-color:white;
    width: 300px;
    height: 500px;
    border: 20px;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto 5px auto;
   
  }
}

@media (min-width: 1025px) {
  .container {
    background-color:white;
    width: 350px;
    height: 500px;
    border: 20px;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto 5px auto;
   
  }
}

/* input:required {
  border: 1px dashed red;
} */